body{  
  font-family: Calibri, Helvetica, sans-serif; 
  padding-left: 300px;
  padding-right: 300px;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}  

.container {  
  padding: 50px;
  display: flexbox;
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}  
  
input[type=text], input[type=password], textarea {  
  width: 100%;  
  padding: 15px;  
  margin: 5px 0 22px 0;  
  display: inline-block;  
  border: none;  
  background: #f1f1f1;  
}  
input[type=text]:focus, input[type=password]:focus {  
  background-color: orange;  
  outline: none;  
}  
 div {  
            padding: 10px 0;  
         }  
hr {  
  border: 1px solid #f1f1f1;  
  margin-bottom: 25px;  
}  
.registerbtn {  
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);  color: white;  
  padding: 16px 20px;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;  
  border-radius: 16px;
  width: 100%;  
  opacity: 0.9;  
}  
.registerbtn:hover {  
  opacity: 1;  
}  
